*{ /*--Adding the font's to the css--*/
	margin: 0;
	padding:0;
	font-family: 'Courgette', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Righteous', cursive;
} 
#banner {
	background : linear-gradient(rgba(0,0,0,0.5), #6B6464),url("CImages/Background.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;	
}

.logo{
	width : 140px;
	position: absolute;
	top: 4%;
	left: 10%;
}
.banner-text{
	text-align: center;
	color: white;
	padding-top: 180px;
}
.banner-text h1{
	font-size: 100px;	
	font-family: 'Righteous', cursive;
}
.banner-text p{
	font-size: 20px;
	font-style: italic;
	
}
.banner-btn{
	margin: 70px auto 0;
}

.banner-btn a{
	width: 150px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	color: #FFFFFF;
	border : .5px solid #FFFFFF;
	position : relative;
	z-index: 1; /*to stay on the top*/
	transition : color 0.5s;/*0.5 seconds transition effect added*/
}
.banner-btn a span{
	width :0%;
	height :100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #FFFFFF;
	z-index: -1;
	transition: 0.5s;
}
.banner-btn a:hover span{
	width: 100%;
}
.banner-btn a:hover{
	color: #000;
}

#sideBar{
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px; /*to start out hidden */
	top:0;
	background: white;
	z-index: 2;
	transition: 0.5s;
}
nav ul li{
	list-style: none;
	margin: 50px 20px;
}
nav ul li a{
	text-decoration: none;
	color: black; 
}
#BarBtn{
	width :50px;
	height: 50px;
	background: #FFFFFF;
	text-align: center;
	position: fixed;
	right: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}
#BarBtn img{
	width: 20px;
	margin-top: 15px;
	
}
@media screen and (max-width:770px){ /*added to compensate small screens*/
	.banner-text h1{
	font-size: 44px;	
	}
	.banner-text a{
	display: block;
	margin : 20px auto;
	}
}

/*-- About us -- */
#AboutUs{
	width: 100%;
	padding: 70px 0;
	background-color: white;
	
}
.title-text{
	text-align: center;
	padding-bottom: 70px;
}
.title-text p{
	margin: auto;
	font-size: 20px;
	color: black;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.title-text p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: linear-gradient(black,grey);
	position: absolute;
	top:-15px;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.title-text h1{
	font-size: 50px;
}
.AboutUs-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}
.AboutUs{
	flex-basis: 50%;
	
}
.AboutUs-img{
	flex-basis: 50%;
	margin: auto;
}
.AboutUs-img img{
	width: 70%;
	border-radius: 10px;
}
.AboutUs h1{
	text-align: left;
	margin-bottom: 10px;
	font-weight: 100;
	color: black;
}
.AboutUs-desc{
	display: flex;
	align-item: center;
	margin-bottom: 40px;
}
.AboutUs-text p{
	padding: 0 20px;
	text-align: initial;
	
}
@media screen and (max-width: 770px){
	.title-text h1{
		font-size: 30px;
	}
	.AboutUs{
		flex-basis: 100%;
	}
	.AboutUs-img{
	flex-basis: 100%;;
	}
	.AboutUs-img img{
		width: 100%;
	}
}

/*-- Methods --*/

#methods{
	width: 100%;
	padding: 70px 0;
	background-image: url("CImages/music2.jpg");
}
.methods-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.method-types{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color:#B3A8A8;
	position: relative;
}
.method-types img{
	width: 100%;
	border-radius: 7px;
}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 7px;
 	/*cursor: pointer;*/
	background: linear-gradient(rgba(0,0,0,0.5),#204071);
	opacity: 0;
	transition: 1s;
}
.method-types:hover .overlay{
	opacity: 1;
}
.method-desc{
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 50%;
	opacity: 0;
	transform: translateX(-50%);
	transition: 1s;
}
hr{
	background: white;
	height: 2px;
	border: 0;
	margin: 15px auto;
	width: 60%;	
}
.method-desc p{
	font-size: 14px; 
	color: aliceblue;
}
.method-types:hover .method-desc{
	bottom: 40%;
	opacity: 1;
}
@media screen and (max-width: 770px){
	.method-types{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.method-desc p{
		font-size: 12px;
		color: aliceblue;	
	}
	hr{
		margin: 5px auto;
	}
	.method-types:hover .method-desc{
		bottom: 27% !important;
		
		
	}
}
/*-- Contact Us---*/

.ContactUs{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.5),#204071),url("CImages/music3.jpg");
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
	
}
.ContactUs h1{
	color: white;
	margin-bottom: 40px;
	padding: 0;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color:white;
	border: 1px solid black;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #1D8F85;
	background: #1D8F85;
	transition: 1s;
}
@media screen and (max-width: 770px){
	.ContactUs h1{
		font-size: 24px; 
	}
}
/*--Footer--*/
#footer{
	padding: 100px 0 20px;
	background-image: url("CImages/music2.jpg");
	position: relative;
}
.footer-row{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-left,.footer-right{
	flex-basis: 45%;
	padding: 10px;
	margin-bottom: 20px;
}
.footer-right{
	text-align: right;
}
.footer-left .fa-clock,.footer-right.fa-clock{
	font-size: 20px;
	color: black;
	margin: 10px;
}
.fa-at{
	font-size: 20px;
	color: black;
	margin: 10px;
}
.fa-location-dot{
	font-size: 20px;
	color: black;
	margin: 10px;
}
.fa-phone{
	font-size: 20px;
	color: black;
	margin: 10px;
}
/*.footer-img{
	max-width: 370px;
	opacity: 0.1;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%,-50%)
}*/
/*--Social link--*/

.social-links{
	text-align: center;
}
.social-links .fa-facebook{
	height:40px;
	width: 40px;
	font-size: 20px;
	line-height: 40px;
	border: 1px solid black;
	margin: 40px 5px 0;
	color: #4267B2;
	cursor: pointer;
	transition: .5s;
}
.social-links .fa-facebook:hover{
	background:#4267B2;
	color: white;
	transform: translateY(-7px);
}
.social-links .fa-twitter{
	height:40px;
	width: 40px;
	font-size: 20px;
	line-height: 40px;
	border: 1px solid black;
	margin: 40px 5px 0;
	color: #1DA1F2;
	cursor: pointer;
	transition: .5s;
}
.social-links .fa-twitter:hover{
	background:#1DA1F2;
	color: white;
	transform: translateY(-7px);
}
.social-links .fa-instagram{
	height:40px;
	width: 40px;
	font-size: 20px;
	line-height: 40px;
	border: 1px solid black;
	margin: 40px 5px 0;
	color: #C13584;
	cursor: pointer;
	transition: .5s;
}
.social-links .fa-instagram:hover{
	background:#C13584;
	color: white;
	transform: translateY(-7px);
}
.social-links .fa-youtube{
	height:40px;
	width: 40px;
	font-size: 20px;
	line-height: 40px;
	border: 1px solid black;
	margin: 40px 5px 0;
	color: red;
	cursor: pointer;
	transition: .5s;
}
.social-links .fa-youtube:hover{
	background: red;
	color: white;
	transform: translateY(-7px);
}
.social-links .fa-twitch{
	height:40px;
	width: 40px;
	font-size: 20px;
	line-height: 40px;
	border: 1px solid black;
	margin: 40px 5px 0;
	color: #6441a5;
	cursor: pointer;
	transition: .5s;
}
.social-links .fa-twitch:hover{
	background: #6441a5;
	color: white;
	transform: translateY(-7px);
}
.social-links p{
	font-size: 12px;
	margin-top: 20px;
}
@media screen and (max-width: 770px ){
	.footer-left,.footer-right{
		flex-basis: 100%;
		font-size: 14px;
	}
}
/*--About Piano content--*/

#sub-banner{
	height: 50vh;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.5), #6B6464),url("CImages/about.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	color: white;
}

#about-piano{
	width: 100%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image:url("CImages/music2.jpg");
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	padding: 25px;
}
.piano-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.piano-col img{
	width: 100%;
}
.piano-col h1{
	padding: 0;
	color: lightcyan;
}
.piano-col p{
	padding: 25px 0 25px;
	color:white;
}
.green-btn{
	border: 1px solid black;
	background: transparent;
	color: lightcyan;
}
.green-btn:hover{
	color: white;
}
@media screen and (max-width: 770px){
	.row{
		flex-direction: column
	}
}

/*--- contact us Content---*/

#location{
	width: 100%;
	margin: auto;
	padding: 20px 0 20px; 
	background-image: url("CImages/music2.jpg");
}
.location iframe{
	width: 100%;
}
#contactus{
	width: 100%;
	margin: auto;
	background-image: url("CImages/music2.jpg");
	padding: 100px 0 20px;
}

.contact-col{
	flex-basis: 48%;
	margin-bottom: 30px;
	padding-left: 25px;
}
.contact-col div{
	display: flex;
	align-items: center;
	margin-bottom: 48px;
}
.contact-col div .fa-school{
	font-size: 28px;
	color: black;
	margin:10px;
	margin-right: 30px;
}    
.contact-col div .fa-at{
	font-size: 28px;
	color: black;
	margin:10px;
	margin-right: 30px;
} 
.contact-col div .fa-phone{
	font-size: 28px;
	color: black;
	margin:10px;
	margin-right: 30px;
}  
.contact-col input,.contact-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid black;
	box-sizing: border-box;
}

/*------- SONGS CONTENT -----*/
#songs-content{
	width: 80%;
	margin: auto;
	padding: 60px 0;
}
.songs-left{
	flex-basis: 65%;
	padding-left: 25px;
}
.songs-left img{
	width: 100%;
}
.songs-left h2{
	color: black;
	font-weight: 600;
	margin: 30px 0;
}
.songs-left p{
	color: black;
	padding: 10px;
	font-size: 17px;
	font-family: 'Courgette', cursive;
}
.songs-right{
	flex-basis: 32%;
	padding-right: 25px;
}
.songs-right h3{
	background: #8B7273;
	color:floralwhite;
	padding: 7px 0;
	font-size: 15px;
	margin-bottom: 20px;
	text-align: center;
	
}
.songs-right div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #555;
	padding: 8px;
	box-sizing: border-box ;
}
.songs-right a{
	color:#555555;
	text-decoration:none;
}
.songs-right div.songs-color{
	color:#1B9541;
}
.songs-right div.songs-color2{
	color:#C4BC43;
}
.songs-right div.songs-color3{
	color:#B40C0F;
}
.hero-btn2{
	display: inline-block;
	text-decoration: none;
	color:black;
	border: 1px solid black;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn2:hover{
	border: 1px solid white;
	background: #1D8F85;
	transition: 1s;
}

/*-----BLOGS CONTENT--- */

#Blogs{
	width: 100%;
	padding: 70px 0;
	background-image: url("CImages/music2.jpg");
}
.blogs-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.blogs-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 3px black;
	cursor: auto;
	transition: transform .5s;
}
.blogs-col p{
	font-size: 14px;
	color: black;
}
.blogger{
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.blogger img{
	width: 40px;
	margin-right: 20px;
	border-radius: 3px;
}
.blogger-info .fa-instagram{
	margin-left: 10px;
	color: #C13584;
	font-size: 20px;
}
.blogger-info .fa-twitter{
	margin-left: 10px;
	color: #00acee;
	font-size: 20px;
}
.blogger-info .fa-youtube{
	margin-left: 10px;
	color:#FF0000;
	font-size: 20px;
}
.blogger-info small{
	color: gray;
}
.blogs-col:hover{
	transform: translateY(-7px);
}
@media screen and (max-width: 770px){
	.blogs-col{
		flex-basis: 100%;
	}
	.blogs-row{
		flex-basis: 100%;
	}
}

/*-- FAQs content---*/


#FAQ{
	width: 100%;
	padding: 70px 0;
	/*height: 100vh;*/
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("CImages/music2.jpg");
}

*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
.container{
	width: 100%;
	max-height: 80rem;
	margin: 0 auto;
	padding: 0px 24px;
}
.faq-item{
	background-color:#ABA9A9;
	border-radius: 4px;
	margin-bottom: 16px;
	padding: 16px;
	box-shadow: 8px 2px 8px black;
}
.faq-link{
	font-size: 26px;
	color: white;
	text-decoration: none;
	background-color: #ABA9A9;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
}
.faq-link i{
	color: white;
	padding: 8px;
}
.faq-link .fa-xmark{
	display: none;
}
.answer{
	max-height: 0;
	overflow: hidden;
	position: relative;
	background-color:#A8999A;
	transition: max-height 650ms;
}
.answer::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 90%;
	background-color:#3DB99E;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.answer p{
	font-size: 22px;
	color: black;
	padding: 32px;
}
.faq-item:target .answer{
	max-height: 320px;
}
.faq-item:target .faq-link .fa-plus{
	display: none;
}
.faq-item:target .faq-link .fa-xmark{
	display: block;
}
